<!DOCTYPE HTML>
<html>
    <title>广东省自助旅游咨询网</title>
    <head>
        <meta charset="UTF-8">
        <meta name="keyworks" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        <link rel="stylesheet" type="text/css" href="/public/tour_res/css/app/header.css">
        <link rel="stylesheet" type="text/css" href="/public/tour_res/css/app/sight-detail.css">
    </head>
    <body>
        <header class="header">
            <% include include/navigator.ejs %>
            </nav>
        </header>
        <div role="content" class="content">
            <div class="lef-container">
                <div class="sight-img">
                    <img src="<%= view.viewImageUrl %>">
                </div>
                <ul class="sight-info">
                    <li class="sight-tikect">
                        <span>普通门票：</span><span><%= view.ticketPrice %></span>元
                    </li>
                    <li class="sight-tikect-link">
                        <span>购票连接：</span><a href="<%= view.ticketUrl %>" target="_blank"><%= view.ticketUrl %></a>
                    </li>
                    <li class="sight-address">
                        <span>地址：</span><span><%= view.viewAddress %></span>
                    </li>
                </ul>
            </div>
            <div class="rig-container">
                <div class="sight-head">
                    <span><%= city.cityName %></span>-<span><%= view.viewName %></span>
                </div>
                <p>简介：</p>
                <div class="sight-intro"><%= view.viewIntro %></div>
            </div>
        </div>
        <% include include/footer.ejs %>
    </body>
    <!--******载入js********-->
    <script src="/public/tour_res/js/libs/jquery/2.1.3/jquery-2.1.3.min.js"></script>
</html>